{% extends 'App/main.html' %}

{% block a %}
 <div class="row">
   <div class="col-sm-12 col-md-6">
     <div class="panel panel-default">
     	<div class="panel-body"> 
          <h1 class="text-center">Creat New Account</h1>

     <form class="from-horizontal" action="" method="post">
        {% csrf_token %}

          {% include 'App/form_temp.html' %}
              <div class="form-group">
                 <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Click Me</button>
                  </div>
              </div>
       </form>
  	  </div>
    </div> 
  </div>
</div>


{% endblock %}